services:
  api:
    build:
      context: .
      dockerfile: src/api/Dockerfile.dev
    environment:
      DATABASE_PATH: /app/data/youtube_history.db
      PORT: 3000
      DATA_PATH: /app/youtube-metadata
      NODE_ENV: development
    volumes:
      - sqlite_data:/app/data
      - ./youtube-metadata:/app/youtube-metadata:ro
      - ./src/api/src:/app/src
      - ./src/api/scripts:/app/scripts
      - ./src/web:/app/web
    ports:
      - "3000:3000"

volumes:
  sqlite_data:
